
body{
    height :100%;
}

.login{
    
    display :flex;
    flex :1;
    width :100%;
    
}

.login_container {
    position :relative;
    display: flex;

    left :50%;
    transform :translate(-50%, 0);
    

    width: 450px;
    height: 320px;

    text-align: center;

    border: 2px solid rgb(75, 73, 104);
    padding: 10px;
    flex-direction: column;
}
    .login_logo {
        flex: 0.5;
        font-size: 35px;
    }
        .login_logo>p{
            padding-top :50px;
            margin :0;
        }
    .login_box{
        display :flex;
        flex-direction :row;
        flex: 1;
    }

        .id_ps_box {
            display: flex;
            flex :1;
            flex-direction: column;
        }
            .id_box {
                flex: 1;
                font-size: 25px;
                padding-top :35px;

                text-align: end;
            }
            .ps_box {
                padding-top :0px;
                flex: 1;
                font-size: 25px;
                text-align: end;
            }
            .input_idpw{
                height :25px;
                width :60%;
            }
            .chk_box {
                padding-left :100px;
                
                flex: 0.4;
            }
                #id_chk{
                    font-size :18px;
                    
                }

        .login_btn {
            margin-left :20px;
            padding-top :38px;
            flex: 0.3;
        }
            #log_button{
                font-size: 18px;
                padding :15px;
                height :100px;

            }
        .search {
            font-size: 15px;
        }
            #search a {
                font-size: 10px;
            }
            