
/*카테고리*/
.tag_type{
    display :flex;
    flex-direction :row;
    flex :1
}
    #type{
        flex :0.2;
    }
    #type_value{
        flex :1;
    }

/*소재*/        
.tag_material{
    display :flex;
    flex-direction :row;
    flex :1;
}

/*디테일*/
.tag_detail{
    display :flex;
    flex-direction :row;
    flex :1;
}

/*색상*/
.tag_color{
    display :flex;
    flex-direction :row;
    flex :1;
}

/*가격*/
.tag_price{
    display :flex;
    flex-direction :row;
    flex :1;
}





