
.mypage_box{
    position :relative;
    text-align :center;
    height :1000px;
    width :980px;
}

.mypage_container {
    height :100%;
    display: flex;
    flex-direction: column;
}
.mypage_row1 {
    flex :0.7;
    display: flex;
    flex-direction: row;
    padding-left:3%;
}
.profile{
    display : flex;
    flex-direction: column;
    flex : 0.3;
    margin : 3%;
    border-style: solid;
    border-width : 1px;
    border-color:rgb(42,58,91);
    background: white;
}
    .profile_image {
        display: flex;
        flex-direction: row;
        flex : 1;
    }
        img {
            width: 80%;
            height: 80%;
            border: 1px solid black;
            left :50%;
            top : 50%;
            transform :translate(-50%,  -50%);
            position :relative;
        }
    .profile_name {
        display: flex;
        flex : 0.3;
    }  
        .profile_name>p{
            font-size: 1.3em;
            margin :0;
            margin-left: auto;
            padding-right: 4%; padding-bottom: 4%;
        }

.profile_info{
    display : flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    flex : 1;
    padding-top: 3%; padding-bottom: 3%; padding-left: 6%;
    margin-left:auto;
}
    #profile_rows{
        display : flex;
        flex-direction: column;
        border : 1px solid black;
        flex : 0.3;
    }
        #profile_titles{
            display : flex;
            flex-direction: column;
            flex : 0.3;
            background-color :rgb(42,58,91);
        }
            #profile_values{
                display : flex;
                flex-direction: column;
                flex : 1;
                background-color: white;
            }
            .주문내역{
                font-size: 1.4em;
                margin:auto;
                color : white;
            }
            .주문내역_value값{
                font-size: 1.2em;
                margin:auto;
            }
            .배송현황{
                font-size: 1.4em;
                margin:auto;
                color:white;
            }
            .배송현황_value값{
                font-size: 1.3em;
                margin:auto;
            }
            .쿠폰{
                font-size: 1.4em;
                margin:auto;
                color : white;
            }
            .쿠폰_value값{
                font-size: 1.3em;
                margin:auto;
            }

.mypage_row2{
    flex :0.7;
    display: flex;
    padding-left:3%; padding-right: 3%; padding-bottom:3%; padding-top:1%;
}
    #mypage_rows{
        display : flex;
        flex-direction: column;
        border : 3px solid black;
        flex : 0.5;
    }
        #mypage_titles{
            display: flex;
            flex-direction: column;
            flex : 0.3;
            font-size: 1.5em;
            background: rgb(42,58,91);
        }
        #mypage_values{
            display: flex;
            flex-direction: column;
            flex : 1;
            font-size: 1.3em;
            background: white;
        }
            /*mypage title안에 글씨*/
            #mypage_titles>span{
                margin: auto;
                color : rgb(243, 203, 135);
            }
            #mypage_values>span{
                margin:auto;
                line-height: 1.7em;
                color : rgb(42,58,91);
            }

    .관심_row{
        margin-left : 5%;
    }
.mypage_row3{
    flex :0.7;
    display: flex;
    padding-left:3%; padding-right: 3%; padding-bottom:3%; padding-top:1%;
}
    .고객센터_row{
        margin-left:5%;
    }
        
#mypage_row2and3{
    flex :1;
}